.clockcontainer {
  transition: ease-in-out 0.2s;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.666);
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
  &:hover {
    transform: scale(120%);
  }
}
