@import url("https://fonts.googleapis.com/css2?family=Mina&display=swap");

:root{
  --accent: red;
}
body {
  font-family: "Mina", sans-serif;
  text-align: center;
  background-color: black;
  background-image: url(/assets/background.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  padding: 0;
	cursor: url('data:image/x-icon;base64,AAACAAEAICACAAAAAAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGAAAABgAAAAwAAAAMAAAAGAAAARgAAAGwAAAB8AAAAf4AAAH8AAAB+AAAAfAAAAHgAAABwAAAAYAAAAEAAAAAAAAAAAAAAAAAAAA/////////////////////////////////////////////////////////////////+f////D////w////4f///eH///zD///8Q////Af///wAf//8AP///AH///wD///8B////A////wf///8P////H////z////9/////////8='), default;
}
#navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.navigation-bar {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-bar ul {
  display: flex;
}

.navigation-bar a {
  transition: ease-in-out 0.2s;
  text-decoration: underline !important;
}
.navbar-wrapper {
  border-bottom: var(--accent) solid 1px;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.666);
}
.navigation-bar a,
.button a {
  transition: ease-in-out 0.2s;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  &:hover {
    transition: ease-in-out 0.2s;
    color: var(--accent);
    margin-top: 20px;
    margin-bottom: 35px;
    text-decoration: underline;
    text-shadow: var(--accent) 0 0 5px;
    transform: scale(120%) !important;
    filter: drop-shadow(0 0 5px var(--accent));
  }
}

header {
  transition: ease-in-out 0.2s;
  padding: 30px;
  padding-top: 10px;
  text-size-adjust: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.666);
}

#profile-picture {
  padding-top: 10%;
  border-radius: 50%;
  max-width: 150px;
  height: auto;
  margin: 20px;
  filter: drop-shadow(0 0 5px var(--accent));
}
#discordstatus {
  position: absolute;
  transition: ease-in-out 0.2s;
  right: 45px;
  top: 100px;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  &:hover {
    transition: ease-in-out 0.2s;
    color: var(--accent);
    margin-top: 20px;
    margin-bottom: 35px;
    text-shadow: var(--accent) 0 0 5px;
    transform: scale(115%);
    filter: drop-shadow(0 0 5px var(--accent));
    pointer-events: visible;
  }
}
#page-content,
#themes {
  border: var(--accent) solid 1px;
  border-radius: 20px;
  margin: 15px;
  background-color: rgba(0, 0, 0, 0.651);
}

#about-me,
#works {
  margin: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
#ghostchatter,
#virtual-boy {
  transition: ease-in-out 0.2s;
  margin: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    transition: ease-in-out 0.2s;
    color: var(--accent);
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: var(--accent) 0 0 5px;
    transform: scale(110%);
    filter: drop-shadow(0 0 5px var(--accent));
  }
}
#ghostchatter,
#virtual-boy {
  display: inline-block;
  width: fit-content;
  min-height: fit-content;
}

#vb-preview,
#gc-preview {
  max-width: 350px;
  min-height: 350px;
}
#links {
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
}

.link-container {
  transition: ease-in-out 0.2s;
  text-align: center;
  align-self: baseline;
  margin: 20px;
  &:hover .link-text {
    transition: ease-in-out 0.2s;
    color: var(--accent);
    text-shadow: var(--accent) 0 0 2px;
  }
}

.icon {
  width: 130px;
  margin-bottom: 0px;
}
.link-text {
  color: #fff !important;
  text-decoration: none !important;
}
.discord {
  width: 100px;
  margin-top: 23px;
}

#link {
  &:hover {
    transition: ease-in-out 0.2s;
    transform: scale(120%);
    filter: drop-shadow(0 0 5px var(--accent));
  }
}
.blog-header {
  padding: 30px;
  padding-top: 10px;
  text-size-adjust: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.666);
}
.blog-seperator {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-bottom: var(--accent) 1px solid;
}

.blog-post {
  padding-bottom: 20px;
  padding-top: 0px;
  text-size-adjust: 100%;
  width: 90%;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.666);
  &:after {
    padding: 20px !important;
  }
}

#footer {
  background-color: black;
  border-top: rgb(21, 7, 34) solid 1px;
  padding-top: 200px;
  transition: ease-in-out 0.2s;
  width: 100%;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  color: #fff;
  opacity: 5%;
  &:hover {
    transition: ease-in-out 0.2s;
    transform: scale(120%);
    filter: drop-shadow(0 0 5px var(--accent));
    opacity: 100%;
  }
  &::before {
    margin-top: 200px !important;
  }
}

.page-content {
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.666);
}
.theme-header {
  width: 200px;
}
.theme-content {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: var(--accent) solid 1px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.666);
}

.error-container {
  padding-top: 20%;
  height: 500px !important;
}
.button-spacer {
  margin: 10px;
}
.button {
  transition: ease-in-out 0.2s;
  text-decoration: none !important;
  padding-top: 8px;
  justify-content: center;
  text-align: center;
  border: var(--accent) solid 1px;
  width: 200px;
  height: 35px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    transition: ease-in-out 0.2s;
    transform: scale(120%);
    filter: drop-shadow(0 0 2px var(--accent));
  }
}

@media only screen and (max-width: 600px) {
  #discordstatus {
    position: inherit !important;
    margin-top: 20px;
  }
  .icon,
  .discord {
    width: 50px !important;
  }
  .page-content,
  .blog-post {
    height: fit-content !important;
  }
  #links {
    scale: 0.6;
  }
}

#badges {
  padding-top: 5px;
  padding-bottom: 5px;
}
#top-badges {
  position: absolute;
  left: 15px;
  top: 60px;
}

.xenia-badge {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out 0.2s;
  &:hover {
    scale: 1.1;
  }
}
