<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Blog Entry | Skye's website</title>
    <meta content="Riddim-GLiTCH's Site" property="og:title" />
    <meta content="Itsa-me! A template! wait...how did you get here?" property="og:description" />
    <meta content="https://riddim-glitch.github.io/blog.html" property="og:url" />
    <meta content="https://api.lanyard.rest/801089753038061669.png" property="og:image" />
    <meta content="#8a2be2" data-react-helmet="true" name="theme-color" />
</head>
<nav class="navigation-bar">
    <a href="/index.html">Home</a> |
    <a href="/socials.html">Links</a> |
    <a href="/blog.html">Blog</a> |
    <a href="/downloads-pages/downloads-landing.html">Downloads</a>
<body>
    <div class="blog-header">
        <h1>blog entry</h1>
        <p>date | Skye</p>
    </div>
    <div class="blog-seperator"></div>
    <div class="blog-post">
        <p>Content of the Blog Post</p>
    </div>

    <section id="footer">
        <a href="/blog.html">Back to post browser</a>
    </section>
</body>
</html>
