<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Blog Entry | Skye's website</title>
</head>
<nav class="navigation-bar">
    <a href="index.html">Home</a> |
    <a href="socials.html">Links</a> |
    <a href="blog.html">Blog</a>
<body>
    <div class="blog-header">
        <h1>blog entry</h1>
        <p>date | Skye</p>
    </div>
    <div class="blog-seperator"></div>
    <div class="blog-post">
        <p>Content of the Blog Post</p>
    </div>

    <section id="footer">
        <a href="../blog.html">Back to post browser</a>
    </section>
</body>
</html>
